<mat-card class="item" *ngIf="song">
    <!-- <mat-card-header>
        <mat-card-title>{{song.title}}</mat-card-title>
    </mat-card-header> -->
    <p>{{song.title}}</p>
    <p>Rammstein</p>
    <!-- <p>Autor</p> -->

    <!-- <mat-card-content>
        <pre>{{song.text}}</pre>
    </mat-card-content> -->
    <!-- <mat-card-actions align="start">
        <button mat-button (click)="edit.emit(song)">Edit</button>
    </mat-card-actions> -->
    <!-- <mat-card-footer>
        Autor: Date:
    </mat-card-footer> -->
</mat-card>
